flow.json
[{"id":"241af13d.31888e","type":"tab","label":"door alarm notification","disabled":false,"info":""},{"id":"d3ffdd1b.c328e","type":"ui_group","z":"","name":"","tab":"29a4d79b.d9ad58","order":1,"disp":false,"width":"10","collapse":false},{"id":"29a4d79b.d9ad58","type":"ui_tab","z":"","name":"doors","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"305609f3.75a186","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Century Gothic,CenturyGothic,AppleGothic,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"7910 doors","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"26371f25.e736d","type":"ui_template","z":"241af13d.31888e","group":"d3ffdd1b.c328e","name":"door status light","order":6,"width":0,"height":0,"format":"<div class=\"{{msg.payload}}\">{{msg.topic}}</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":640,"y":380,"wires":[["396fb17f.ca5bfe"]]},{"id":"1fccb646.9ae04a","type":"ui_template","z":"241af13d.31888e","group":"d3ffdd1b.c328e","name":"css styles","order":1,"width":0,"height":0,"format":"<style>\n    .nr-dashboard-template  { padding: 0px; }\n    .open                   { background:tomato;  padding:.9em; text-align:center; font-weight:bold; }\n    .closed                 { background:dimgray; padding:.9em; text-align:center; }\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":120,"y":180,"wires":[[]]},{"id":"5e0356d1.a1c528","type":"ui_switch","z":"241af13d.31888e","name":"armed","label":"enable notifications","tooltip":"","group":"d3ffdd1b.c328e","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"arm","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":300,"wires":[["396fb17f.ca5bfe","d4ff16df.2d2d48"]]},{"id":"396fb17f.ca5bfe","type":"function","z":"241af13d.31888e","name":"AND","func":"if (msg.topic === \"arm\")\n    {\n    context.pass = (msg.payload === true);\n    return null;  // exit out early as it's just the control\n    }\n    \n// pass msg if enabled or just drop it\nreturn context.pass ? msg : null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":300,"wires":[["64fdcbba.66bf94"]]},{"id":"f0f7d1f.d9ee03","type":"comment","z":"241af13d.31888e","name":"UI Appearence","info":"CSS overrides and class styles to control the appearence of UI elements are defined in this node","x":120,"y":140,"wires":[]},{"id":"72881f89.b50e3","type":"comment","z":"241af13d.31888e","name":"door switches and position finder","info":"","x":170,"y":240,"wires":[]},{"id":"4cf93863.afcf18","type":"comment","z":"241af13d.31888e","name":"UI notify enable and annunciators","info":"","x":670,"y":240,"wires":[]},{"id":"64fdcbba.66bf94","type":"function","z":"241af13d.31888e","name":"build notice","func":"msg.payload = msg.topic + ' ' + Date().toString()\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":300,"wires":[["2e5e5df2.feaae2","52a9e38.0680d1c"]]},{"id":"ce201dad.0680f","type":"rpi-gpio in","z":"241af13d.31888e","name":"","pin":"11","intype":"up","debounce":"25","read":true,"x":120,"y":440,"wires":[["32cb5c16.a1fe74","4b217da1.de644c"]]},{"id":"be01d5a3.e7d408","type":"rpi-gpio in","z":"241af13d.31888e","name":"","pin":"13","intype":"up","debounce":"25","read":true,"x":120,"y":560,"wires":[["e3ac999c.e738e","4b217da1.de644c"]]},{"id":"ea1bcfd.f1f7d3","type":"rpi-gpio in","z":"241af13d.31888e","name":"","pin":"15","intype":"up","debounce":"25","read":true,"x":120,"y":620,"wires":[["fb6d45ce.e3afc8","4b217da1.de644c"]]},{"id":"a1f31526.d6e8a8","type":"rpi-gpio in","z":"241af13d.31888e","name":"","pin":"7","intype":"up","debounce":"25","read":true,"x":110,"y":380,"wires":[["b16d922c.116ea","4b217da1.de644c"]]},{"id":"7f928ee.06b4d7","type":"function","z":"241af13d.31888e","name":"position and door arrays","func":"flow.set('position',\n            [\n            \"closed\",\n            \"open\"\n            ]\n        );\n    \nflow.set('door',\n            {\n            \"pi/7\":  \"front door\",\n            \"pi/11\": \"north patio slider\",\n            \"pi/12\": \"south patio slider\",\n            \"pi/13\": \"kitchen door\",\n            \"pi/15\": \"garage door\"\n            }\n        );\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":80,"wires":[[]]},{"id":"d511e436.1d0db8","type":"comment","z":"241af13d.31888e","name":"global context initializer","info":"","x":140,"y":40,"wires":[]},{"id":"cff8d106.d69c3","type":"inject","z":"241af13d.31888e","name":"inject once at reboot","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"true","payloadType":"bool","x":180,"y":80,"wires":[["7f928ee.06b4d7"]]},{"id":"b16d922c.116ea","type":"change","z":"241af13d.31888e","name":"door position","rules":[{"t":"set","p":"payload","pt":"msg","to":"$flowContext('position')[$$.payload]\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"$flowContext('door[\"' & topic & '\"]') & ' ' & $$.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":380,"wires":[["26371f25.e736d"]]},{"id":"f1e0c5c1.334488","type":"comment","z":"241af13d.31888e","name":"notify","info":"","x":1210,"y":240,"wires":[]},{"id":"61d8eb58.355554","type":"inject","z":"241af13d.31888e","name":"inject once at reboot","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"armed","payloadType":"global","x":160,"y":300,"wires":[["5e0356d1.a1c528"]]},{"id":"d98b6f.268c849","type":"rpi-gpio in","z":"241af13d.31888e","name":"","pin":"12","intype":"up","debounce":"25","read":true,"x":120,"y":500,"wires":[["c9e6e334.8813a8","4b217da1.de644c"]]},{"id":"4b217da1.de644c","type":"change","z":"241af13d.31888e","name":"isolate door position for db","rules":[{"t":"set","p":"position","pt":"msg","to":"$flowContext('position')[$$.payload]\t","tot":"jsonata"},{"t":"set","p":"pin","pt":"msg","to":"$substring(topic, 3)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":680,"wires":[[]]},{"id":"4e09bff5.84d638","type":"ui_template","z":"241af13d.31888e","group":"d3ffdd1b.c328e","name":"door status light","order":6,"width":0,"height":0,"format":"<div class=\"{{msg.payload}}\">{{msg.topic}}</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":640,"y":440,"wires":[["396fb17f.ca5bfe"]]},{"id":"32cb5c16.a1fe74","type":"change","z":"241af13d.31888e","name":"door position","rules":[{"t":"set","p":"payload","pt":"msg","to":"$flowContext('position')[$$.payload]\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"$flowContext('door[\"' & topic & '\"]') & ' ' & $$.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":440,"wires":[["4e09bff5.84d638"]]},{"id":"c9e6e334.8813a8","type":"change","z":"241af13d.31888e","name":"door position","rules":[{"t":"set","p":"payload","pt":"msg","to":"$flowContext('position')[$$.payload]\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"$flowContext('door[\"' & topic & '\"]') & ' ' & $$.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":500,"wires":[["9d9b11d2.494058"]]},{"id":"e3ac999c.e738e","type":"change","z":"241af13d.31888e","name":"door position","rules":[{"t":"set","p":"payload","pt":"msg","to":"$flowContext('position')[$$.payload]\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"$flowContext('door[\"' & topic & '\"]') & ' ' & $$.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":560,"wires":[["52f9183c.a84be"]]},{"id":"fb6d45ce.e3afc8","type":"change","z":"241af13d.31888e","name":"door position","rules":[{"t":"set","p":"payload","pt":"msg","to":"$flowContext('position')[$$.payload]\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"$flowContext('door[\"' & topic & '\"]') & ' ' & $$.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":620,"wires":[["7ba1b620.e1a43"]]},{"id":"9d9b11d2.494058","type":"ui_template","z":"241af13d.31888e","group":"d3ffdd1b.c328e","name":"door status light","order":6,"width":0,"height":0,"format":"<div class=\"{{msg.payload}}\">{{msg.topic}}</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":640,"y":500,"wires":[["396fb17f.ca5bfe"]]},{"id":"52f9183c.a84be","type":"ui_template","z":"241af13d.31888e","group":"d3ffdd1b.c328e","name":"door status light","order":6,"width":0,"height":0,"format":"<div class=\"{{msg.payload}}\">{{msg.topic}}</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":640,"y":560,"wires":[["396fb17f.ca5bfe"]]},{"id":"7ba1b620.e1a43","type":"ui_template","z":"241af13d.31888e","group":"d3ffdd1b.c328e","name":"door status light","order":6,"width":0,"height":0,"format":"<div class=\"{{msg.payload}}\">{{msg.topic}}</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":640,"y":620,"wires":[["396fb17f.ca5bfe"]]},{"id":"d4ff16df.2d2d48","type":"change","z":"241af13d.31888e","name":"save state in global context","rules":[{"t":"set","p":"armed","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":260,"wires":[[]]},{"id":"52a9e38.0680d1c","type":"e-mail","z":"241af13d.31888e","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"larry@blische.net","dname":"","x":1270,"y":300,"wires":[]},{"id":"2e5e5df2.feaae2","type":"debug","z":"241af13d.31888e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":380,"wires":[]},{"id":"64ee400c.2614a","type":"inject","z":"241af13d.31888e","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"hello","x":900,"y":420,"wires":[["64fdcbba.66bf94"]]}]